.sn-product-row
	.product-package
		p Team (#{productNum})
	.product-seats
		p #{productNum}
	.product-discount
		p #{productNum}%
	.product-per
		p $#{productPer}
	.product-price
		p $#{productPrice}
	.product-cta
		a(href=productURL) #[span(class="text") Buy] #[span(class="price") $#{productPrice}]
	.product-desc
		p Your team gets up to #{productNum} seats for $#{productPer} each. This is a #{productNum}% discount.